# Manual:
# https://direnv.net/man/direnv-stdlib.1.html

# Load .env file if it exists
dotenv_if_exists

# Set environment variables
# export DBT_PROJECT_DIR="transformation/"
# export DBT_PROFILES_DIR="transformation/"
export SNOWFLAKE_ACCOUNT=$(op read "op://Employee/Client - Snowflake/account")
export SNOWFLAKE_DATABASE=$(op read "op://Employee/Client - Snowflake/database")
export SNOWFLAKE_SCHEMA=$(op read "op://Employee/Client - Snowflake/schema")
export SNOWFLAKE_ROLE=$(op read "op://Employee/Client - Snowflake/role")
export SNOWFLAKE_WAREHOUSE=$(op read "op://Employee/Client - Snowflake/warehouse")
export SNOWFLAKE_USER=$(op read "op://Employee/Client - Snowflake/username")
