# echo "\n.envrc" >> .git/info/exclude
export SNOWFLAKE_ACCOUNT=$(op read "op://Employee/Client - Snowflake/account")
export SNOWFLAKE_DATABASE=$(op read "op://Employee/Client - Snowflake/database")
export SNOWFLAKE_SCHEMA=$(op read "op://Employee/Client - Snowflake/schema")
export SNOWFLAKE_ROLE=$(op read "op://Employee/Client - Snowflake/role")
export SNOWFLAKE_WAREHOUSE=$(op read "op://Employee/Client - Snowflake/warehouse")
export SNOWFLAKE_USER=$(op read "op://Employee/Client - Snowflake/username")
